
.item{
    width: calc(100% - 10px);
    padding: 5px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.item:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.item-img{
    background-color: #F2F2F2;
    max-width: 100%;
}
.item-details{
    position: relative;
    display: flex;
    flex-direction: column;
}
.item-details-name{
    font-weight: 700;
    font-size: 2.75rem;
    text-transform: uppercase;
}
.item-details-price-value{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.item-details-price{
    font-size: 18px;
   font-weight: 500;
   text-align: left;
}
.item-details-value{
    text-align: center;
    color: #63659f;
    font-weight: 400;
    font-size: 18px;
}
.item-details-inc-dec-cart-buttons{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.item-btn-addtocart {
    line-height: 4;
}