.cart-item{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.cart-item-figure{
    width: 15%;
}
.cart-item-middle{
    /* background-color: aqua; */

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 60%;
    align-items: left;
    text-align: left;
}
.cart-item-middle-name{
    /* background-color: chocolate; */
    font-weight: 700;
    margin-top: 5px;
    font-size: 20px;
    padding-left: 10px;
}
.cart-item-middle-quantity{
    padding-left: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.cart-item-price{
    /* background-color: brown; */
    width: 25%;
}
/* SERVINGS */

.cart-item-servings-icon {
    height: 2rem;
    width: 2rem;
    fill: #F59A83;
    margin-right: 1rem; }
.cart-item-servings-data{
    font-weight: 600;
    padding-top: 10px;
}

.cart-item-servings-inc-dec-buttons{
    display: flex;
    margin-left: 0rem;
    visibility: hidden;
    align-items: center;
    opacity: 0;
    transform: translateY(5px);
    transition: all .4s;
}
.cart-item:hover .cart-item-servings-inc-dec-buttons {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); 
}

.cart-place-order{
    position: relative;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
    padding: 10px;
}