.cart-item{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.cart-item-figure{
    width: 15%;
}
.cart-item-middle{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 60%;
    align-items: left;
    text-align: left;
}
.cart-item-middle-name{
    font-weight: 700;
    margin-top: 5px;
    font-size: 20px;
    padding-left: 10px;
}
.cart-item-middle-quantity{
    padding-left: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.cart-item-price{
    width: 25%;
}
.cart-place-order{
    position: relative;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
    padding: 10px;
}