.restaurant-footer{
    font-size: 35px;
    font-weight: 600;
    background-color: #6200ee;
    min-height: 70px;
    line-height: 20px;
    color:white;
   

}
.restaurant-footer-heart{
    color: red;
    font-size: 45px;
    margin-top: 2px;
}
.restaurant-footer-heart2{
    color: red;
    font-size: 30px;
    margin-top: 2px;
}
@media only screen and (max-width: 600px) {
    .restaurant-footer{
        font-size: 16px;
        font-weight: 500;
    }
    .restaurant-footer-heart{
        font-size: 25px;
        margin-top: 2px;
    }
    .restaurant-footer-heart2{
        font-size: 25px;
        margin-top: 2px;
    }
  }