.list-item{
    position: relative;
    display: flex;
    flex-direction: column;
}

.list-item-single{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-shadow: 0px 6px 6px -3px rgb(0 0 0 / 20%), 0px 10px 14px 1px rgb(0 0 0 / 14%), 0px 4px 18px 3px rgb(0 0 0 / 12%);
    margin: 10px;
}
.list-item-single:hover{
    box-shadow: 0px 8px 9px -5px rgb(0 0 0 / 20%), 0px 15px 22px 2px rgb(0 0 0 / 14%), 0px 6px 28px 5px rgb(0 0 0 / 12%);
}
.list-item-single-details{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 84px;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    margin: 0px 20px;
    color:#6200ee;
}
.list-item-single-img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}