.App {
  text-align: center;
  background-color: aliceblue;
}
.app-main-area{
  width:50%;
  position: relative;
  left: 25%;
  background-color: white;
}
@media only screen and (max-width: 1000px) {
  .app-main-area{
    width:500px;
    position: relative;
    left: calc(50% - 250px);
    background-color: white;
  }
}
@media only screen and (max-width: 600px) {
  .app-main-area{
    width:calc(100% - 20px);
    margin:10px;
    position: relative;
    left: 0%;
    background-color: white;
  }
}